name: CI

on: [push]
 
jobs:
  test:
    name: Test code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run tests
        run: |
          npm install
          npx hardhat test

  
