name: CI

on: [push]
 
jobs:
  test:
    name: Test code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Run tests
        run: npx hardhat test
        with:
          node-version: 12.x

  
